/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Basic styling */

h3{
    font-weight: unset;
}

.empty{
    width: 100vw;
    height: 100vh;
}

.paras{
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .02vh;
}
.titles{
    font-family: "owners-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: justify;
    line-height: 1;
    width: 100%;
}

#zoomMe{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    cursor: zoom-out;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
}

#zoomMe img{
    z-index: 100;
    height: 100vh;

}

.hide{
    display: none;
}


section{
    padding: 2vh 0;

}

main{
    z-index: 100;
}

button{
    background: none;
    color: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

footer{
    z-index: 100;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer ul{
    display: flex;
}

footer li{
    padding: 1vh;
}
footer a{
    color: white;
}
footer p{
    color: white;
    font-size: 10px;
    font-family: "owners", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1vw;
    margin: 1vh;
}

nav a,
nav button{
    padding: 1vw;
}


/*HEADER STUFF*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header h3{
    padding: 0;
    margin: 1vh;
}


.dateTitle{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 4vh;
    font-size: 3vh;
    line-height: 0;
    padding: 0;
    width: 98%;
    margin: 2vh;
}


.programTitle{
    font-size: 3vh;
    display: flex;
    justify-content: space-between;
}

.writtenTitle{
    position: fixed;
    top: -13vh;
    left: -6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


.writtenTitle img{
    width: 110vw;
    height: auto;
    z-index: -100;
    transition: .3s filter ease;
    filter: blur(0vh);

}

.writtenTitle img:hover{
    filter: blur(4vh);
}

#cd{
    cursor: pointer;
}


/*GUIDE STUFF*/
#guide{
    margin: 2vh 2vh;
    height: 100vh;
    width: 97vw;
}

#guide br{
    display: none;
}

#guide h2{
    font-size: 10vh;
    padding-bottom: 1vh;
    font-weight: bold;
}



#guide h3{
    font-size: 5vh;
    padding-bottom: 2vh;
    z-index: 101;
}

#guide div{
    padding: 2vh 0;
}

#guide div span{
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
}

.items{
    border-bottom: dotted .3vh;
    margin-bottom: .5vh;
}


/*ABOUT SECTION*/
#about{
    width: 100vw;
    height: 40vh;
    margin: 0 2vh 2vh 2vh;
}

#about h3{
    font-size: 5vh;
}

#map{
    margin: 2vh;
}
#map h2{
    font-size: 10vh;
    padding-bottom: 3vh;
}

#map img:first-of-type{
    z-index: 100;
    width: 100vw;
    cursor: zoom-in;
}



