/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Basic styling */
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: unset;
}
h3{
    font-weight: unset;
}

.empty{
    width: 100vw;
    height: 100vh;
}


.hide{
    display: none;
}

.show{
    display: flex;
}

.noScroll{
    overflow: hidden;
}

.mobileUnhide{
    display: none;
}

section{
    padding: 2vh 0;
}

main{
    width: 100%;
    z-index: 100;
}

footer button{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    z-index: 100;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
}


footer p{
    color: white;
    font-size: 10px;
    font-family: "owners", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1vw;
    margin: 1vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    font-size: 2vh;
}

nav a,
nav button{
    padding: 1vw;
}

/*FONT STYLING*/
.paras{
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .02vh;

}
.titles{
    font-family: "owners-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: justify;
    line-height: 1;
    width: 100%;
}

/*HEADER STUFF*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header h3{
    padding: 0;
    margin: 1vh;
}


.dateTitle{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 9vh;
    font-size: 4vh;
    line-height: 0;
    padding: 0;
    width: 99vw;
    margin-left: 1vh;
    z-index: 100;
/*    margin: 4vh;*/
}


.programTitle{
    font-size: 4vh;
    display: flex;
    justify-content: space-between;
}

.writtenTitle{
    position: fixed;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


.writtenTitle img{
    width: 90vw;
    height: auto;
    z-index: -100;
    transition: .3s filter ease;
    filter: blur(0vh);

}

.writtenTitle img:hover{
    filter: blur(4vh);
}

#cd{
    cursor: pointer;
}


/*GUIDE STUFF*/
#guide{
    height: 100vh;
    width: 100vw;
}

#guide br{
    display: none;
}

#guide h2{
    margin: 0 10vh 2vh 10vh;
    font-size: 10vh;
    padding-bottom: 1vh;
    font-weight: bold;
}



#guide h3{
/*    margin: 0 10vh 2vh 10vh;*/
    font-size: 5vh;
    padding-bottom: 2vh;
    z-index: 101;
}

#guide div{
    padding: 2vh 0;
    margin: 0 10vh 2vh 10vh;
}

#guide div span{
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
}

.items{
    border-bottom: dotted .3vh;
    margin-bottom: .5vh;
}


e{
    font-weight: 700;
}   

/*ABOUT SECTION*/
#about{
    width: 100vw;
    height: 40vh;
    
}

#about h3{
    font-size: 5vh;
    margin: 0 10vh 2vh 10vh;
}

/*MAP SECTION*/
#map{
    margin: 0 10vh 2vh 10vh;
    width: 100vw;
    height: 100vh;
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/

}

#map h2{
    font-size: 10vh;
    padding-bottom: 15vh;
/*    margin: 0 10vh 2vh 10vh;*/
}

#map img:first-of-type{
    z-index: 100;
    width: 80vw;
    cursor: zoom-in;
}

#zoomMe{
    background-color: white;
    position: fixed;

    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    cursor: zoom-out;
    height: 100vh;
    width: 100vw;
/*    display: flex;*/
}

#zoomMe img{
    z-index: 100;
    height: 100vh;

}

/*DRAW SECTION*/

#drawCanvas{
    touch-action: none;
    cursor: crosshair;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, .7);
}

#drawCanvas h3{
    font-size: 4vh;
}

.drawShow{
    display: flex;
}


#draw{
    pointer-events: none;
    margin: 2vh;
    position: absolute;
    top: 2vh;
    z-index: 100;
}

#draw h2{
    font-size: 10vh;
    pointer-events: none;
}

#draw h3{
    font-size: 3vh;
    pointer-events: none;
}

#draw div{
    margin-bottom: 2vh;
}

#draw input{
    pointer-events: visible;
    font-size: 2vh;
    background: none;
    border: none;
    cursor: pointer;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}


